@font-face {
    font-family: Univers-75-Black;
    src: url(univers-75-black.ttf);
}

@font-face {
    font-family: Univers-Light;
    src: url(univers-light.ttf);
}

@font-face {
    font-family: Univers-LT-49;
    src: url(univers-lt-49.otf)
}

body {
    font-family: Univers-Light;
    margin: 0;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.hero-text {
    font-family: Univers-Light;
    position: absolute;;
    color: white;
    padding: 20px;
    text-align: center;
}

#typewriter {
    font-size: 4rem;
}

.shop-btn {
    background-color: #2e343d5e;
    display: inline-block;
    opacity: 0;
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.shop-btn:hover {
    transform:scale(1.05);
    text-decoration: underline;
    transition: 0.5s ease;
}

.featured {
    background-image: url("images/Background.png");
    background-size: 100vw;
    box-shadow: 0 0 20px black inset;
    position: relative;
    padding: 2rem;
}

.featured h2 {
    background-color: #fbfaf9;
    max-width: fit-content;
    font-size: xx-large;
}

.featured ol {
    justify-content: center;
    display: flex;
    gap: 2rem;
    padding: 20px;
}

.featured li {
    display: inline-block;
    background-color: #2e343d5e;
    padding: 15px;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.featured li:hover  img{
    transform: scale(1.12);
    transition: 0.5s ease;
}

.featured li:hover {
    box-shadow: #2e343d 10px 10px;
}

.featured li img {
    width: 25vw;
    height: auto;
    transition: 0.5s ease;
}

.popular-reviews {
    background-image: url("images/Catwalks-Key-Art.png");
    background-size: 100vw;
    box-shadow: 0 0 20px black inset;
    position: relative;
    padding: 2rem;
}

.popular-reviews h2 {
    max-width: fit-content;
    font-size: xx-large;
    color: white;
}

.popular-reviews ol {
    display: flex;
    gap: 2rem;
    padding: 20px;
    overflow-x: scroll;
    color: white;
}

.popular-reviews li {
    display: flex;
    align-items: center;
    background-color: #2e343d5e;
    padding: 15px;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    height: 20vw;
    min-width: 50vw;
    box-shadow: 0 0 20px white inset;
}

.popular-reviews li div {
    flex: 1;
    text-align: center;
}

#review-image {
    width: auto;
    height: 18vw;
    transition: 0.5s ease;
    padding: 1rem;
    border-radius: 1.5rem;
}

.popular-reviews li:hover  #review-image{
    transform: scale(1.05);
    transition: 0.5s ease;
}

.popular-reviews li:hover {
    box-shadow: 0 0 20px rgb(153, 212, 227) inset;
}

.header {
    position: relative;
    background-color: #2e343d;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    align-items: end;               
    justify-content: space-between;   
}

.header ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    z-index: 4;
}

.header ul li a {
    font-family: Univers-Light;
    font-size: 1rem;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.header ul li a:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    text-decoration: underline;
}

.header-logo h1 {
    font-family: Univers-75-Black;
    font-style: oblique;
    letter-spacing: 7px;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
}

.header-logo h3 {
    font-family: Univers-Light;
    letter-spacing: 10px;
    font-size: 1rem;
    margin-top: -5px;
    margin-left: 17px;
    color: white;
}

.header-logo img {
    width: 4.5rem;
    height: auto;
    filter: invert(100%);
}

.header-logo .logo-text {
    display: inline-block;
    margin-left: -15px;
    position: static;
    transform: translateY(-7.5px);
}

.header-logo {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    width: fit-content;
    transition: 0.5s ease;
}

.header-logo:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.footer-logo h1 {
    font-family: Univers-75-Black;
    font-style: oblique;
    letter-spacing: 3.5px;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
}

.footer-logo h3 {
    font-family: Univers-Light;
    letter-spacing: 5px;
    font-size: 0.5rem;
    margin-top: -2.5px;
    margin-left: 8.5px;
    color: white;
}

.footer-logo img {
    width: 2.25rem;
    height: auto;
    filter: invert(100%);
}

.footer-logo .logo-text {
    display: inline-block;
    margin-left: -7.5px;
    position: static;
    transform: translateY(-3.75px);
}

.footer-logo {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    width: fit-content;
    transition: 0.5s ease;
}

.footer {
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.footer h2 {
    color: white;
}

.dropdown-btn {
    font-family: Univers-Light;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: #2e343d5e;
}

.dropdown:hover .dropdown-content {
    display: block;
}